body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #1f2947;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 110px 0 110px;
}

header .logo {
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

ul li {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

main .one {
    background-color: #1f2947;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 80px 110px;
    gap: 40px;
}

main .one .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main .one .text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;

}

main .one .text p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 13px 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-weight: bolder;
    border-style: none;
    font-size: 15px;
    width: 90px;
    height: 30px;
}

main .two {
    display: flex;
    flex-direction: column;
    padding: 40px 150px;
}

main .two .info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding-bottom: 40px;
}

main .two .square {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

main .two .square img,
main .two .square p
{
    margin: 0;
    padding: 0;
    height: 120px;
    width: 120px;
    text-align: center;
    font-size: 18px;
    color: #686a6d;
}

main .three {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    padding: 80px 200px;
}

main .three p {
    font-style: normal;
    font-weight: bolder;
    text-align: end;
    color: #1f2937;
    margin: 0;
    padding-right: 30px;
}

main .three h2 {
    margin: 0;
}

main .four {
    margin: 80px 110px;
    padding: 40px 80px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .four h3,
main .four p {
    margin: 0;
    padding: 0;
}

main .four .button button{
    border: white;
    border-style: solid;
    border-width: 1px;
}

footer {
    background-color: #1f2937;
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
    color: #e5e7eb;
}